@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 100, 100, 100;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 100, 100, 100;
    --background-end-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.list-container{
  height: 400px;
  width: 500px;
  overflow-y: auto;
  background-color: #3f3e3e;
}

input{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  color: #000000;
}

.page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fav-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
  max-height: 500px;
  width: 300px;
  background-color: #3f3e3e;
}